/* Large desktops and laptops */
@media (min-width: 1200px) {
    #menu-icon.active {
        display: none;
    }
    /**/
    .reviews__text {
        font-size: 1.6em;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .header__bar {
        padding: 2em 1em;
    }
    /**/
    #menu-icon.active {
        display: none;
    }
    /**/
    .works__item {
        width: 50%;
    }
    .works__photo{
        height: auto;
    }
    /**/
    .reviews {
        height: auto;
    }
    .reviews__photo {
        width: 100%;
    }
    .reviews__content {
        width: 100%;
        padding: 0.5em 0.5em 0.3em 0.5em;
    }
    .reviews__text {
        font-size: 1.5em;
        margin: 0 0 0.5em 0;
    }
    .slick-dots {
        position: relative;
        margin: 0.5em 0 0.5em 0;
        width: auto;
    }
    .slick-dots button {
        width: 15px;
        height: 15px;
    }
}

/* Portrait tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav__link {
        margin-left: 1em;
        font-size: 0.8em;
    }
    .header {
        padding: 0 0 5em 0;
    }
    .header__bar {
        padding: 2em 1em;
    }
    .header__title {
        font-size: 1.6em;
    }
    .header__subtitle {
        font-size: 1.1em;
    }
    #menu-icon.active {
        display: none;
    }
    /**/
    .works__item {
        width: 50%;
    }
    .works__photo{
        height: auto;
    }
    /**/
    .team__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /**/
    .reviews {
        height: auto;
    }
    .reviews__photo {
        width: 100%;
    }
    .reviews__content {
        width: 100%;
        padding: 0.5em 0.5em 0.3em 0.5em;
    }
    .reviews__text {
        font-size: 1.5em;
        margin: 0 0 0.5em 0;
    }
    .slick-dots {
        position: relative;
        margin: 0.5em 0 0.5em 0;
        width: auto;
    }
    .slick-dots button {
        width: 15px;
        height: 15px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header__bar {
        justify-content: center;
        padding: .5em 0;
    }
    .header__bar.fixed {
        padding: .5em 0;
    }
    .header__nav {
        display: none;
    }
    .header__title {
        font-size: 1.4em;
    }
    .header__subtitle {
        font-size: 1em;
    }
    /**/
    .features {
        height: auto;
    }
    .features__items {
        width: 50%;
    }
    .features {
        margin: 5em 0;
    }
    /**/
    .works {
        height: auto;
    }
    .works__item {
        width: 50%;
        height: 350px;
    }
    .works__photo{
        min-height: 350px;
    }
    /**/
    .team {
        height: auto;
        margin: 5em 0 3em 0;
    }
    .team__item {
        width: 50%;
        margin: 0 0 2em 0;
    }
    .team__photo {
        margin: auto auto 1em auto;
    }
    /**/
    .reviews {
        height: auto;
    }
    .reviews__photo {
        width: 100%;
    }
    .reviews__content {
        width: 100%;
        padding: 0.5em 0.5em 0.3em 0.5em;
    }
    .reviews__text {
        font-size: 1.5em;
        margin: 0 0 0.5em 0;
    }
    .slick-dots {
        position: relative;
        margin: 0.5em 0 0.5em 0;
        width: auto;
    }
    .slick-dots button {
        width: 15px;
        height: 15px;
    }
    /**/
    .download {
        margin: 5em 0;
    }
    /**/
    .footer__inner {
        display: none;
    }
    .footer__inner-mobile {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 0;
    }
    .footer__block:nth-child(1) {
        width: 100%;
        margin: 0 0 2em 0;
        padding: 0.5em 0.5em;
    }
    .footer__block:nth-child(2) {
        width: 50%;
        margin: 0;
        padding: 0.5em 0.5em;
    }
    .footer__block:nth-child(3) {
        width: 50%;
        margin: 0;
        padding: 0.5em 0.5em;
    }
}

@media (min-width: 812px) and (max-width: 823px) and (min-height: 375px) and (max-height: 411px){
    .header {
        height: auto;
        padding: 0;
    }
    .header__bar {
        padding: 1em;
    }
    .header__inner {
        padding: 3.7em 0;
    }
    .header__title {
        font-size: 1.2em;
    }
    .header__subtitle {
        font-size: .8em;
        margin-bottom: 2em;
    }
    .features {
        height: auto;
        margin: 3em 0;
    } 
    .works {
        height: auto;
    }
    .works__item {
        width: 50%;
        height: 350px;
    }
    .works__photo{
        min-height: 350px;
    }
    .team {
        height: auto;
        margin: 3em 0;
    }
    .reviews {
        height: auto;
    } 
}


@media only screen and (min-width: 480px) and (max-width: 766px) {
    .header__title {
        font-size: 1em;
    }
    .header__subtitle {
        font-size: .75em;
        margin-bottom: 2.2em;
    }
    .header__inner {
        padding-top: .5em;
    }
}


/* Phones */
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 0.3em 0.3em;
    }
    .header__bar {
        padding: .5em 0;
    }
    .header__bar.fixed {
        padding: .5em 0;
    }
    .nav {
        display: none;
    }
    .header__title {
        font-size: 1em;
    }
    .header__subtitle {
        font-size: 0.8em;
    }
    .header__inner {
        width: 100%;
    }
    .header--btn {
        padding: 0 1.5em;
        font-size: 1em;
        height: 50px;
    }
    /**/
    .features {
        margin: 5em 0;
    }
    .features__items {
        width: 100%;
    }
    /**/
    .works__item {
        width: 100%;
        border-bottom: 1.5px solid #fff;
        border-right: none;
    }
    /**/
    .team__item {
        width: 100%;
    }
    .team__item:nth-child(4) {
        margin: 0;
    }
    .team__photo {
        margin: 0 auto 0.5em auto;
    }
    /**/
    .download__title {
        font-size: 1.1em;
    }
    .download__text {
        font-size: 0.8em;
    }
    /**/
    .footer__inner {
        display: none;
    }
    .footer__inner-mobile {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 0;
    }
    .footer__block:nth-child(1) {
        width: 100%;
        margin: 0 0 2em 0;
        padding: 0.5em 0.5em;
    }
    .footer__block:nth-child(2) {
        width: 50%;
        margin: 0;
        padding: 0.5em 0.5em;
    }
    .footer__block:nth-child(3) {
        width: 50%;
        margin: 0;
        padding: 0.5em 0.5em;
    }
    /**/
    .download {
        margin: 4em 0;
    }
    /**/
    .reviews__photo {
        width: 100%;
    }
    .reviews__content {
        width: 100%;
        padding: 0.5em 0.5em 0.3em 0.5em;
    }
    .reviews__text {
        font-size: 1.5em;
        margin: 0 0 0.5em 0;
    }
    .slick-dots {
        position: relative;
        margin: 0.5em 0 0.5em 0;
        width: auto;
    }
    .slick-dots button {
        width: 15px;
        height: 15px;
    }
}
